body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    touch-action: none;
    -webkit-overflow-scrolling: none;
    
}

body {
    padding: 5px;
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
body::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

h1 {
    font-size: x-large;
    color: brown;
}
